.header {
  background-color: rgb(255, 102, 0);
  padding: 4px 8px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
